{% extends 'base.html' %}

{% block title %}Dashboard - Sync{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">Welcome, {{ user.username }}!</h1>
        
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">YouTube to Spotify Sync</h5>
                        <p class="card-text">Sync your YouTube playlist with Spotify, automatically identifying cover songs and finding the original tracks.</p>
                        <a href="{% url 'playlist_sync:sync' %}" class="btn btn-primary">Start Syncing</a>
                    </div>
                </div>
            </div>
            
            {% if not user.spotify_access_token %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Connect Spotify</h5>
                        <p class="card-text">Connect your Spotify account to enable playlist syncing.</p>
                        <a href="{% url 'social:begin' 'spotify' %}" class="btn btn-success">Connect Spotify</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 