# Django settings
DJANGO_SECRET_KEY=django-insecure-default-key-for-development
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1


REDIS_URL=redis://redis:6379/0

# Database settings
DATABASE=postgres
POSTGRES_USER=sync
POSTGRES_PASSWORD=xxxx
POSTGRES_DB=db
POSTGRES_HOST=sync
POSTGRES_PORT=5432
REDIS_PORT=6379
REDIS_HOST=redis

# API credentials
YOUTUBE_API_KEY=your-youtube-api-key
SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
SPOTIFY_REDIRECT_URI=https://rpi.vaughndv.com/callback
OPENAI_API_KEY=your-openai-api-key




